In [1]:
import pandas as pd
import numpy as np

In [18]:
ip = pd.read_csv('./data/installments_payments.csv', error_bad_lines=False)
ccb = pd.read_csv('data/credit_card_balance.csv', error_bad_lines=False)

b'Skipping line 39462: expected 8 fields, saw 10\n'
b'Skipping line 118361: expected 8 fields, saw 13\n'
b'Skipping line 295936: expected 8 fields, saw 9\n'

In [16]:
ip.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674.0,1,6.0,-1180,-1187.0,6948.360,6948.360
1,1330831,151639.0,0,34.0,-2156,-2156.0,1716.525,1716.525
2,2085231,193053.0,2,1.0,-63,-63.0,25425.000,25425.000
3,2452527,199697.0,1,3.0,-2418,-2426.0,24350.130,24350.130
4,2714724,167756.0,1,2.0,-1383,-1366.0,2165.040,2160.585

In [19]:
ccb.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6.0,56.970,135000.0,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1.0,0.0,1.0,35.0,Active,0.0,0.0
1,2582071,363914,-1.0,63975.555,45000.0,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1.0,0.0,0.0,69.0,Active,0.0,0.0
2,1740877,371185,-7.0,31815.225,450000.0,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0.0,0.0,0.0,30.0,Active,0.0,0.0
3,1389973,337855,-4.0,236572.110,225000.0,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1.0,0.0,0.0,10.0,Active,0.0,0.0
4,1891521,126868,-1.0,453919.455,450000.0,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1.0,0.0,1.0,101.0,Active,0.0,0.0

In [20]:
ip_ccb = pd.merge(ip, ccb, on='SK_ID_PREV')

In [21]:
ip_ccb.head()

,SK_ID_PREV,SK_ID_CURR_x,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,SK_ID_CURR_y,MONTHS_BALANCE,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1570206,147645.0,0,20.0,-761,-761.0,21.51,21.51,147645,-3.0,...,442497.33,442497.33,1.0,1.0,0.0,0.0,32.0,Active,0.0,0.0
1,1570206,147645.0,0,9.0,-915,-915.0,22651.29,22651.29,147645,-3.0,...,442497.33,442497.33,1.0,1.0,0.0,0.0,32.0,Active,0.0,0.0
2,1570206,147645.0,0,9.0,-915,-915.0,22651.29,22651.29,147645,-3.0,...,442497.33,442497.33,1.0,1.0,0.0,0.0,32.0,Active,0.0,0.0
3,1570206,147645.0,0,16.0,-824,-824.0,5755.77,5755.77,147645,-3.0,...,442497.33,442497.33,1.0,1.0,0.0,0.0,32.0,Active,0.0,0.0
4,1570206,147645.0,0,16.0,-824,-824.0,5755.77,5755.77,147645,-3.0,...,442497.33,442497.33,1.0,1.0,0.0,0.0,32.0,Active,0.0,0.0